/* Using this on the authentication */

body {
  background: url("../img/3.jpg");
     -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
form.signup,
form.login {
  margin-top: 50px;
}

.jumbotron{
      padding: 0.5em 0.6em;
      margin-right: 0;
      background-color: #c0bbc7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23e1e5de' fill-opacity='0.51'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.inputs{
  color: white;
  font-weight: bolder;
}

